*.open{
	background: #252525;
	color: white;
}

body{
	width: 100%;
	margin: 0;
	padding: 0;
}

/* CONTENDOR */

.container{
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	display: flex;
	flex-flow: column wrap;
	flex: 1 1 auto;
}

/* CONTENEDOR */

/* HEADER */

.header{
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

.header h1{
	width: 100%;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 63px;
	font-style: bold;
	letter-spacing: 1.4px;
}

.header-description{
	display: flex;
	align-items: flex-start;
	width: 100%;
	max-width: 600px;
}

.header-description h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	font-style: italic;
}

.header-description img{
	margin: 16px 10px 0px 0px;
}

.header-img{
	margin-top: 50px;
	width: 100%;
	max-width: 970px;
}

.header-img img{
	width: 100%;
}


@media(max-width:980px){
	.container{
		width: 98%;
	}
	.header-img{
		margin-top: 25px;
	}
}

@media(max-width:500px){
	.header-img{
		margin-top: 12.5px;
	}
}

/* HEADER */

/* SECTION */

/* SECTION-INGREDIENTS */

.section{
	place-content: center;
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.section-ingredients{
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	max-width: 550px;
	order: 1;
}

@media(max-width:820px){
	.section-ingredients{
		margin-bottom: 150px;
	}
}

.section-ingredients h2{
	width: 100%;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 23px;
}

.section-ingredients > p{
	width: auto;
	font-size: 17px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
}

.section-ingredients label{
	width: auto;
	display: flex;
	align-items: flex-start;
}

.section-ingredients label input{
	margin: 15px 10px 0px 2.5px;
}

.section-ingredients label input[type="checkbox"]{
	width: 100%;
	max-width: 19px;
	height: 21px;
	display: flex;
	flex: 1 1 auto;
}

.section-ingredients label p{
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

span{
	font-weight: 800;
	font-style: bold;
	color: black;
}

/* SECTION-INGREDIENTS */

.section-time{
	display: flex;
	flex-flow: column wrap;
	flex: 1 1 auto;
	width: 100%;
	max-width: 250px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 1px 1px 5px 2px dimgray;
	padding: 50px 0px;
	cursor: pointer;
	transition: 0.3s;
	background: transparent;
	order:2;
}

@media(max-width:820px){
	.section{
		display: flex;
		flex-flow: column wrap;
	}
	.section-ingredients{
		order: 2;
		margin-top: 15px;
	}
	.section-time{
		order: 1;
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		max-width: 820px;
		padding: 25px 0px;
		box-shadow: none;
	}
	.section-time > div>div > h3{
		font-size: 8px;
		margin-bottom: 10px;
	}
	.section-time > div >div >p{
		font-size: 5px;
	}
	.section-time >div >div >img{
		width: 70%;
		margin: 0;
	}
}

.section-time:active{
	transform: scale(1.035);
}

.section-time> div{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 100%;
	place-content: center;
	margin: 20px 0px;
}

.section-img{
	width: 100%;
	max-width: 35px;
	margin-right: 15px;
}
.section2-img{
	width: 100%;
	max-width: 35px;
	margin-right: 13px;
}

.section3-img{
	width: 100%;
	max-width: 35px;
	margin-right: -2px;
}

.section4-img{
	width: 100%;
	max-width: 35px;
	margin-right: 10px;
}

.section-img img{
	width: 100%;
	margin-right: 15px;
}

.section2-img img{
	width: 100%;
	margin-right: 15px;
}

.section3-img img{
	width: 100%;
	margin-right: 15px;
	margin-left: -16px;
}

.section4-img img{
	width: 100%;
	margin-left: -5px;
}

.section-time span{
	opacity: 0;
	visibility: hidden;
}

.section-time div h3{
	line-height: 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 12px;
}

.section-time div p{
	line-height: 1px;
	font-weight: 700;
	letter-spacing: .8px;
	font-family: 'Montserrat', sans-serif;
}

.special-color{
	color: #F2994A;
}

/* SECTION */

/* ARTICLE */

.article{
	width: 100%;
	max-width: 580px;
	margin-top: -140px;
}

.article h2{
	font-size: 17px;
	font-weight: 400;
	width: auto;
	font-family: 'Playfair Display', serif;
	font-style: italic;
section-time}

.article p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.article label{
	width: auto;
	display: flex;
	align-items: flex-start;
}

.article label input{
	margin: 15px 10px 0px 2.5px;
}

.article label input[type="checkbox"]{
	width: 100%;
	max-width: 19px;
	height: 21px;
	display: flex;
	flex: 1 1 auto;
}

.article label p{
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

/* ARTICLE */

/* FOOTER */

.footer{
	width: 100%;
	max-width: 610px;
	margin-top: 5px;
}

.footer h2{
	width: 100%;
	font-family: 'Playfair Display', serif;
	font-weight: 800;
	font-size: 26px;
	font-style: bold;
}

.footer ol{
	margin-left: -23px;
	list-style-type: none;
}

.footer ol li{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 25px 0;
}

.footer ol li::before{
	cursor: pointer;
	color: #f9f9f9;
	background: #F2994A;
	border-radius: 6px;
	content: "1";
	padding: 6px 12px;
	position: relative;
	right: 20px;
}
.footer ol li:nth-child(2)::before{
	content: "2";
}

.footer ol li:nth-child(3)::before{
	content: "3";
}

.footer ol li:nth-child(4)::before{
	content: "4";
}

.footer ol li:nth-child(5)::before{
	content: "5";
}

.footer ol li:nth-child(6)::before{
	content: "6";
}

.footer ol li:nth-child(7)::before{
	content: "7";
}

cite{
	font-family: 'Montserrat', sans-serif;
	color: #BDBDBD;
	font-size: 14px;
}

cite:hover{
	text-decoration: underline;
	text-underline-offset: 2.5px;
}

cite a{
	color: #BDBDBD;
	text-decoration: none;
}

/* FOOTER */

/* CHANGE COLOR JV */

.container-change{
	display: flex;
	justify-content: center;
	margin-left: -43px;
}

.color{
	position: absolute;
	visibility: visible;
	opacity: 1;	
}

.color.open{
	visibility: hidden;
	opacity: 0;
}

.color2{
	position: absolute;
	visibility: visible;
	opacity: 0;
}

.color2.open{
	visibility: visible;
	opacity: 1;
}

.color img{
	width: 100%;
}

.color2 img{
	width: 100%;
}


/* CHANGE COLOR JS */


.Invicible{
	color: transparent;
}

@media(max-width:610px){
	.Invicible{
		display: none;
	}
}

@media(max-width:610px){
	.footer ol li::before{
		position: relative;
		bottom: 5px;
		right: 5px;

	}
}



